@keyframes shake {
  // 0% {
  //   transform: translateX(0);
  // }

  // 25% {
  //   transform: translateX(6px);
  // }

  // 50% {
  //   transform: translateX(0);
  // }

  // 75% {
  //   transform: translateX(-6px);
  // }

  // 100% {
  //   transform: translateX(0);
  // }


  0% {
    transform: rotateZ(0) scale(1);
  }

  30% {
    transform: rotateZ(55deg) scale(1.1);
  }

  60% {
    transform: rotateZ(0deg) scale(1);
  }

  90% {
    transform: rotateZ(55deg) scale(1.1);
  }

  // 80% {
  //   transform: rotateZ(0deg);
  // }

  // 100% {
  //   transform: rotateZ(45deg);
  // }

}

@keyframes wobble-bottom {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}