@keyframes shake {
  // 0% {
  //   transform: translateX(0);
  // }

  // 25% {
  //   transform: translateX(6px);
  // }

  // 50% {
  //   transform: translateX(0);
  // }

  // 75% {
  //   transform: translateX(-6px);
  // }

  // 100% {
  //   transform: translateX(0);
  // }


  0% {
    transform: rotateZ(0) scale(1);
  }

  30% {
    transform: rotateZ(55deg) scale(1.1);
  }

  60% {
    transform: rotateZ(0deg) scale(1);
  }

  90% {
    transform: rotateZ(55deg) scale(1.1);
  }

  // 80% {
  //   transform: rotateZ(0deg);
  // }

  // 100% {
  //   transform: rotateZ(45deg);
  // }

}