@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Bold.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('LabGrotesque-Thin.woff2') format('woff2'),
    url('LabGrotesque-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scania Sans CY';
  src: url('../fonts/ScaniaSansCY-Bold.woff2') format('woff2'),
    url('../fonts/ScaniaSansCY-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scania Sans CY';
  src: url('../fonts/ScaniaSansCY-Regular.woff2') format('woff2'),
    url('../fonts/ScaniaSansCY-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Medium.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('../fonts/LabGrotesque-Light.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}