@mixin breakpointsMaxW($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin breakpointsMinW($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin breakpointsMaxH($bp) {
  @media (max-height: $bp) and (orientation: landscape) {
    @content;
  }
}

@mixin text-gradient() {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// calc(10px + (40 - 10) * ((100vw - 320px) / (1225 - 320)))

@mixin wobble-animation {
  animation: wobble-bottom 600ms ease;
}