// Color 
:root {
  --color-black: #000;
  --color-accent: #ffcf7A;
  --color-white: #fff;
  --color-unaccent: hsl(0, 0%, 43%);
  // Gradient
  --gradfient-accent: linear-gradient(270.21deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
  --gradient-radial: radial-gradient(100% 65.98% at 100% 73.18%, #FFFFFF 0.31%, #FFE2A4 59.23%, #FFD47C 100%);
}

// * breakpointsMaxW
$bp-container: 1225px;
$bp-991: 991px;
$bp-768: 768px;
$bp-650: 650px;
$bp-576: 576px;
$bp-420: 420px;

// *=== Fonts
$LabGrotesque: 'Lab Grotesque';
$ScaniaSansCY: 'Scania Sans CY';

// * ==== Z-Index
$z-1: 1;
$z-5: 5;
$z-10: 10;
$z-100: 100;

// Gradients
// background: #1E1E1D;
// background: #201F1E;

// background: #22211E;
// #1E1E1D
// #1E1E1D
// 1C1C1B