<section class="about">
  <div class="container">
    <div class="about__offer">
      <p class="about__text">Получите каталог с моделями и ценами на всю нашу продукцию</p>
      <button class="about__btn btn btn--shadow-anim">Получить каталог!</button>
    </div>

    <div class="about__box about-box">
      <h2 class="about-box__title section-title">Есть задача? Есть решение!</h2>
      <ul class="about-box__list">
        <li class="about-box__item">
          <div class="about-box__img">
            <div class="about-box__img">
              <img
                src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80"
                alt="">
            </div>
          </div>
          <div class="about-box__bottom">
            <p class="about-box__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="about-box__item">
          <div class="about-box__img">
            <img
              src="https://images.unsplash.com/photo-1635240009912-f2304ad595ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2068&q=80"
              alt="">
          </div>
          <div class="about-box__bottom">
            <p class="about-box__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="about-box__item">
          <div class="about-box__img">
            <img
              src="https://images.unsplash.com/photo-1588173254663-28f1680f6cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="">
          </div>
          <div class="about-box__bottom">
            <p class="about-box__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="about__box about-box">
      <h2 class="about-box__title section-title">Почемы мы можем многое? <br>
        Свои люди. Свои станки. Своя лаборатория</h2>
      <ul class="about-box__list">
        <li class="about-box__item">
          <div class="about-box__img">
            <img
              src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80"
              alt=""></div>
          <div class="about-box__bottom">
            <p class="about-box__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="about-box__item">
          <div class="about-box__img">
            <img
              src="https://images.unsplash.com/photo-1635240009912-f2304ad595ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2068&q=80"
              alt=""></div>
          <div class="about-box__bottom">
            <p class="about-box__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="about-box__item">
          <div class="about-box__img">
            <img
              src="https://images.unsplash.com/photo-1588173254663-28f1680f6cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt=""></div>
          <div class="about-box__bottom">
            <p class="about-box__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>