<section class="refueling">
  <div class="container">
    <div class="refueling__wrapper">
      <h2 class="refueling__title section-title">заправка</h2>
      <div class="refueling__text">
        <p>Внутри не просто труба. Спроектированный нами бак, самого большого обьема среди всех производителей
        </p>
        <p> В наши топливные блоки встроен
          мощный насос.</p>
      </div>
      <div class="refueling__banner">
        <p>3,5 <span>минуты</span></p>
        <span class="span">и бак наполнен
          на 100% </span>
      </div>
      <div class="refueling__bottom">
        <div class="refueling__actions">
          <div class="refueling__action refueling__action--house"></div>
          <div class="refueling__action refueling__action--power-button"></div>
        </div>
        <p>Достаточно вставить шланг
          Нажать кнопку</p>
      </div>

      <div class="circle-blur"></div>
      <div class="circle circle--small"></div>
      <div class="circle circle--big"></div>
    </div>
  </div>
</section>