<section class="smart">
  <div class="container">
    <div class="smart__wrapper">
      <div class="smart__text smart__text--yandex">Яндекс.Алиса</div>
      <div class="smart__text smart__text--xiaomi">Mi Home Xiaomi</div>
      <h2 class="smart__title section-title">
        <span>Умный камин</span>
        <span>очень умный</span>
      </h2>
      <div class="smart__descr">
        <p>Даже если у Вас нет своего решения по умному дому. Мы отлично ладим с Яндекс.Алиса и Mi Home.</p>
      </div>
    </div>
  </div>
</section>