<div class="production" id="production">
  <div class="container">
    <h2 class="visually-hidden">Характеристики</h2>

    <div class="production__top">
      <div class="production__col">

        <div class="production__box production__box--fuel-block">
          <h3 class="production__title">Топливный блок</h3>
          <div class="production__text production__text--line">Лицевая панель из жаропрочной нержавеющей стали
            толщиной 5 мм
          </div>

          <div class="production__img">
            <div class="production__line"></div>
            <img src="images/content/spec-1.png" alt="Особенные характеристики">
          </div>

          <span class="production__name-list">Варианты отделки</span>

          <div class="production__shedule">
            <div class="production__lists">
              <ul class="production__list">
                <li class="production__item">
                  черный матовый
                </li>
                <li class="production__item">
                  шлифованная сталь
                </li>
              </ul>
              <ul class="production__list">
                <li class="production__item">
                  керамика
                </li>
                <li class="production__item">
                  нитрид титана
                </li>
              </ul>
            </div>
          </div>

          <div class="production__shedule">
            <span class="production__name-list">Стандартная комплектация</span>
            <div class="production__lists">
              <ul class="production__list">
                <li class="production__item">
                  Управление с кнопок
                </li>
                <li class="production__item">
                  С помощью пульта
                </li>
                <li class="production__item">
                  Умный дом
                </li>
                <li class="production__item">
                  Без шумность
                </li>
                <li class="production__item">
                  Датчик С02
                </li>
                <li class="production__item">
                  Датчик пролива
                </li>
              </ul>
              <ul class="production__list">
                <li class="production__item">
                  Датчик температуры
                </li>
                <li class="production__item">
                  Датчик наклона
                </li>
                <li class="production__item">
                  Дисплей
                </li>
                <li class="production__item">
                  Индикатор уровня топлива
                </li>
                <li class="production__item">
                  Блокировка залива топлива
                </li>
                <li class="production__item">
                  Кнопка отключения от сети на лицевой панели
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="production__col">
        <div class="production__box--sizes">
          <h3 class="production__title">Очаги для встраивания в нишу
            <br> по Вашим размерам</h3>
          <div class="production__text">
            <p>Короб выполненый из нержавеющей стали 2 мм или холоднокатанной стали 3 мм</p>
            <p>Окрашен кремнийорганической и акриловой краской</p>
            <p>Каждый комплектуется керамическим матом</p>
            <p>Лучшая теплоизолированость из доступных</p>
            <p>Изготавливается исключительно под Ваши размеры</p>
            <p>Наши технологи спроектируют техническое задание для ниши учитывая</p>
            <p>особенности Вашего ремонта.</p>
            <p>Размер ограничен только Вашей фантазией</p>
            <p>Отделка стемалитом и цветными металлами</p>
          </div>


          <div class="production__slider slider swiper">
            <ul class="slider__slides swiper-wrapper">
              <li class="slider__slide swiper-slide">
                <img src="images/content/1.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/2.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/3.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/4.jpg" alt="Готовое решение">
              </li>
            </ul>
            <div class="slider__arrows arrows">
              <button class="arrows__next swiper-button-next" type="button"
                aria-label="Посмотреть следующий слайд"></button>
              <button class="arrows__prev swiper-button-prev" type="button"
                aria-label="Посмотреть предыдущий слайд"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="production__bottom">

      <div class="specification__col">
        <div class="production__box production__box--decisions">

          <h3 class="production__title">Готовые решения</h3>
          <div class="production__text">
            <p>Напольные отдельно стоящие камины.</p>
            <p>Настенные очаги которые вешаются как ТВ. Подвесные модели.</p>
          </div>

          <div class="production__slider slider swiper">
            <ul class="slider__slides swiper-wrapper">
              <li class="slider__slide swiper-slide">
                <img src="images/content/1.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/2.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/3.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/4.jpg" alt="Готовое решение">
              </li>
            </ul>
            <div class="slider__arrows arrows">
              <button class="arrows__next swiper-button-next" type="button"
                aria-label="Посмотреть следующий слайд"></button>
              <button class="arrows__prev swiper-button-prev" type="button"
                aria-label="Посмотреть предыдущий слайд"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="specification__col">
        <div class="production__box production__box--accessories">
          <h3 class="production__title">Аксессуары</h3>

          <div class="production__text">
            <p>Защитные экраны, Дверцы, Стемалит, Дрова, Камни, Кастомные пульты</p>
          </div>

          <div class="production__slider slider swiper">
            <ul class="slider__slides swiper-wrapper">
              <li class="slider__slide swiper-slide">
                <img src="images/content/1.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/2.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/3.jpg" alt="Готовое решение">
              </li>
              <li class="slider__slide swiper-slide">
                <img src="images/content/4.jpg" alt="Готовое решение">
              </li>
            </ul>
            <div class="slider__arrows arrows">
              <button class="arrows__next swiper-button-next" type="button"
                aria-label="Посмотреть следующий слайд"></button>
              <button class="arrows__prev swiper-button-prev" type="button"
                aria-label="Посмотреть предыдущий слайд"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>