<div class="specifications">
  <div class="container">
    <h2 class="visually-hidden">Характеристики</h2>

    <div class="specifications__top">
      <div class="specifications__col">
        <h3 class="specifications__title">Топливный блок</h3>
        <div class="specification__box specification__box--one">
          <div class="specifications__text specifications__text--line">Лицевая панель из жаропрочной нержавеющей стали
            толщиной 5 мм
          </div>
          <div class="specifications__img">
            <div class="specifications__line"></div>
            <img src="images/content/spec-1.png" alt="">
          </div>
        </div>
        <div class="specifications__box">
          <h4 class="specifications__subtitle">Варианты отделки</h4>
          <div class="specifications__lists">
            <ul class="specifications__list">
              <li class="specifications__item">
                черный матовый
              </li>
              <li class="specifications__item">
                шлифованная сталь
              </li>
            </ul>
            <ul class="specifications__list">
              <li class="specifications__item">
                керамика
              </li>
              <li class="specifications__item">
                нитрид титана
              </li>
            </ul>
          </div>
        </div>
        <div class="specifications__box">
          <h4 class="specifications__subtitle">Стандартная комплектация</h4>
          <div class="specifications__lists">
            <ul class="specifications__list">
              <li class="specifications__item">
                Управление с кнопок
              </li>
              <li class="specifications__item">
                С помощью пульта
              </li>
              <li class="specifications__item">
                Умный дом
              </li>
              <li class="specifications__item">
                Без шумность
              </li>
              <li class="specifications__item">
                Датчик С02
              </li>
              <li class="specifications__item">
                Датчик пролива
              </li>
            </ul>
            <ul class="specifications__list">
              <li class="specifications__item">
                Датчик температуры
              </li>
              <li class="specifications__item">
                Датчик наклона
              </li>
              <li class="specifications__item">
                Дисплей
              </li>
              <li class="specifications__item">
                Индикатор уровня топлива
              </li>
              <li class="specifications__item">
                Блокировка залива топлива
              </li>
              <li class="specifications__item">
                Кнопка отключения от сети на лицевой панели
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="specifications__col">
        <div class="specifications__col-top">
          <h3 class="specifications__title specifications__title--p">Очаги для встраивания в нишу
            <br> по Вашим размерам</h3>

          <div class="specifications__text">
            <p>Короб выполненый из нержавеющей стали 2 мм или холоднокатанной стали 3 мм</p>
            <p>Окрашен кремнийорганической и акриловой краской</p>
            <p>Каждый комплектуется керамическим матом</p>
            <p>Лучшая теплоизолированость из доступных</p>
            <p>Изготавливается исключительно под Ваши размеры</p>
            <p>Наши технологи спроектируют техническое задание для ниши учитывая</p>
            <p>особенности Вашего ремонта.</p>
            <p>Размер ограничен только Вашей фантазией</p>
            <p>Отделка стемалитом и цветными металлами</p>
          </div>
        </div>
        <div class="slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1507048947301-7afc2aca0edc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1523861751938-121b5323b48b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=862&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1583248352195-d3a8e766edf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
                alt=""></div>
          </div>
          <div class="arrows">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="specifications__bottom">
      <div class="specification__col">
        <div class="specifications__col-top">
          <h3 class="specifications__title">Готовые решения</h3>
          <p>Напольные отдельно стоящие камины.</p>
          <p>Настенные очаги которые вешаются как ТВ. Подвесные модели.</p>
        </div>
        <div class="slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1507048947301-7afc2aca0edc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1523861751938-121b5323b48b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=862&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1583248352195-d3a8e766edf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
                alt=""></div>
          </div>
          <div class="arrows">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <div class="specification__col">
        <div class="specifications__col-top">
          <h3 class="specifications__title">Аксессуары</h3>
          <p>Защитные экраны, Дверцы, Стемалит, Дрова,
            Камни, Кастомные пульты</p>
        </div>

        <div class="slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1507048947301-7afc2aca0edc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1523861751938-121b5323b48b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=862&q=80"
                alt=""></div>
            <div class="swiper-slide"><img
                src="https://images.unsplash.com/photo-1583248352195-d3a8e766edf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
                alt=""></div>
          </div>
          <div class="arrows">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>