.about {
  padding: 100px 0;
  margin-top: -1px;
  background-color: #1D1D1C;

  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
  }

  &__text {
    font-weight: 300;
    font-size: 30px;
    line-height: 44px;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: -0.01px;

    @include breakpointsMaxW($bp-768) {
      font-size: 26px;
      line-height: 34px;
    }

    @include breakpointsMaxW($bp-576) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .about-box {
    &:not(:last-child) {
      margin-bottom: 90px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 42px;

      @include breakpointsMaxW($bp-991) {
        gap: 30px;
      }

      @include breakpointsMaxW($bp-768) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpointsMaxW($bp-420) {
        grid-template-columns: 1fr;
      }
    }

    &__title {
      text-align: center;
      margin-bottom: 45px;
    }

    &__item {
      overflow: hidden;

      width: 100%;
      height: calc(200px + (267 - 200) * ((100vw - 320px) / (1195 - 320)));

      background-color: rgba(255, 207, 122, 0.1);
      transition: 150ms ease-in;
      position: relative;

      &:hover {
        filter: blur(0);
      }

      @include breakpointsMinW($bp-container) {
        height: 267px;
      }

      @include breakpointsMaxW($bp-991) {}

      &--flip {
        overflow: visible;
      }
    }

    &__img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__bottom {
      position: absolute;
      width: 140px;
      height: 140px;
      bottom: -70px;
      right: -70px;
      background-color: rgba(0, 0, 0, 0.7);
      
      cursor: pointer;

      color: #fff;
      z-index: 100;
      border-radius: 200px 200px 0px 0px;
      transition: all 0.5s, border-radius 1.2s, top 1s;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        right: 85px;
        top: 30px;
        border-radius: 50%;

        opacity: 1;
        visibility: visible;
        transition: 100ms ease-in;

        // mask: url('../images/sprite.svg#info') no-repeat center/contain;
        // background-color: var(--color-white);
        // background-color: #000;
        background-image: url('../images/icons/info.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:hover {
        width: 100%;
        right: 0;
        bottom: 0;
        border-radius: 0;
        height: 60%;
        backdrop-filter: blur(5px);

        &::after {
          opacity: 0;
          visibility: hidden;
        }

        .about-box__content {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &__content {
      height: 100%;
      padding: 5%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      color: var(--color-white);
      transition-delay: 400ms;
      overflow-y: auto;
    }
  }
}
// ! Потом чутка модернизировать
.about-box__item--flip {

  .about-box__front,
  .about-box__back {
    width: 100%;
    height: 100%;
    overflow: hidden;
   
    backface-visibility: hidden;
    
    position: absolute;
    transition: 700ms;
  }

  .about-box__front {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    transform: perspective(1600px) rotateY(0deg);
  }

  .about-box__back {
    background-color: #fdfdfd;
    color: #1d1d1d;
    transform: perspective(1600px) rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    h2 {
      margin-bottom: 10px;
    }
  }

  .content {
    text-align: center;
  }

  &:hover {

    .about-box__front {
      transform: perspective(1600px) rotateY(-180deg);
    }

    .about-box__back {
      transform: perspective(1600px) rotateY(0deg);
    }
  }
}