.check {
  position: relative;
  cursor: pointer;
  padding-right: 30px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;

  &__input {
    position: absolute;
    appearance: none;
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--color-accent);
    right: 0;
    border-radius: 2px;
  }

  &__input:checked+&__box {
    background-image: url('../images/icons/plus.svg');
    background-size: 20px;
    background-position: center;
  }
}