.constructor {
  background-color: #1D1D1C;
  padding-bottom: 89px;
  margin-top: -1px;

  &__top {
    display: grid;
    grid-template-columns: minmax(auto, 533px) minmax(auto, 1fr);
    gap: 80px;
    margin-bottom: 60px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: minmax(auto, 450px) minmax(auto, 1fr);
      gap: 30px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__preview {
    width: 100%;
    height: 374px;

    @include breakpointsMaxW($bp-container) {
      height: calc(100px + (374 - 100) * ((100vw - 320px) / (1225 - 320)));
    }

    @include breakpointsMaxW($bp-768) {
      height: calc(200px + (374 - 200) * ((100vw - 320px) / (1225 - 320)));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    width: 100%;
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 98px;

    @include breakpointsMaxW($bp-768) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 40px;
      }

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 55px;
        letter-spacing: 0.135em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }

      .white {
        font-weight: normal;
        font-size: 24px;
        line-height: 55px;
        color: #FFFFFF;
      }

      .yellow {
        font-weight: 300;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: #FFCF7A;

        // font-size: calc(28px + (36 - 20) * ((100vw - 320px) / (1225 - 320)));

        @include breakpointsMaxW($bp-768) {
          margin-bottom: 30px;
        }
      }

      .circle {
        width: 28px;
        height: 28px;
        background-color: #B8542A;
        border-radius: 50%;
      }
    }
  }
}

.details-constructor {
  padding-top: 5px;
  width: 100%;

  &__title {
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
  }

  &__box {
    display: flex;
    align-items: center;
    max-width: 576px;
    width: 100%;
    // justify-content: space-between;
    justify-content: flex-start;
  }

  &__range {
    position: relative;
    display: flex;
    height: 30px;
    // max-width: calc(410px - 80px);
    width: 100%;
    margin: 0 40px;
  }

  &__input {
    -webkit-appearance: none;
    outline: transparent;
    // max-width: 410px;
    width: 100%;
    z-index: 5;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      outline: transparent;
      width: 30px;
      height: 30px;
      background-color: var(--color-accent);
      cursor: pointer;
      border-radius: 2px;
      box-shadow: 0 0 0 0 rgba(255, 207, 122, 0.1);
      transition: 150ms ease-in;

      &:hover {
        box-shadow: 0 0 0 10px rgba(255, 207, 122, 0.1);
      }

      &:active {
        box-shadow: 0 0 0 20px rgba(255, 207, 122, 0.2);
      }
    }
  }

  &__bar {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--color-unaccent);
    overflow: hidden;

    .fill {
      display: block;
      height: 100%;
      background-color: var(--color-accent);
      z-index: 1;
    }
  }
}

.face-panel {
  max-width: 327px;
  margin-bottom: 45px;

  .details-constructor__title {
    margin-bottom: 12px;
  }

  .swiper-wrapper {
    min-width: 0;
    width: 90%;
    height: 77px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 18px;
    height: 18px;
    top: 67%;

    &::after {
      content: '';
      width: 100%;
      height: 100%;

      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }

  .swiper-button-next {
    background-image: url('../images/icons/chevron-left.svg');
    transform: rotate(180deg);
    right: 0;
  }

  .swiper-button-prev {
    background-image: url('../images/icons/chevron-left.svg');
    left: 0;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 9px;
    height: 1px;
    // background-color: #464239;
    background-color: #999;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-accent);
  }

  .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    .slide {
      width: calc(100% - 80px);

      img {
        width: 100%;
      }
    }
  }
}

.length {
  margin-bottom: 17px;

  .details-constructor__text {
    width: 50px;
    flex-shrink: 0;
  }
}

.functions {
  .details-constructor__title {
    margin-bottom: 18px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    width: 217px;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.01px;

    .check {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}