.form {
  color: var(--color-black);
  width: 100%;

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 20px;  @include breakpointsMaxW($bp-container) {
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1225 - 320)));
      }
    }
  }

  &__label {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  &__input {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: 200ms ease;

    &--textarea {
      min-height: 140px;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(1, 1, 1, 0.5);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(1, 1, 1, 0.5);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__submit {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 17px 48px;
    border-radius: 150px;
    transition: 200ms ease;
    border: 1px solid transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }

    &:hover {
      transform: translateY(-3px);
      background-color: transparent;
      color: var(--color-black);
      border-color: var(--color-black);
    }

    &:active {
      box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
      transform: scale(0.98);
    }
  }
}