.header {
  padding-top: calc(10px + (40 - 10) * ((100vw - 320px) / (1225 - 320)));
  background-color: #1E1E1D;

  @include breakpointsMinW($bp-container) {
    padding-top: 76px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include breakpointsMaxW($bp-991) {
      justify-content: space-between;
    }
  }
}