.hero {
  padding-top: 98px;
  padding-bottom: 242px;
  margin-top: -1px;
  background-image: linear-gradient(to bottom, #1e1e1d, #1e1e1d, #1f1f1d, #1f1f1e, #201f1e);

  @include breakpointsMaxW($bp-991) {
    padding-top: calc(30px + (98 - 30) * ((100vw - 320px) / (1225 - 320)));
  }

  &__wrapper {
    background-image: url('../images/content/hero-bg.png');
    background-repeat: no-repeat;
    background-size: calc(300px + (700 - 300) * ((100vw - 320px) / (1225 - 320)));
    background-position: right center;

    @include breakpointsMinW($bp-991) {
      background-size: 700px;
    }

    @include breakpointsMaxW($bp-768) {
      padding-top: calc(250px + (370 - 250) * ((100vw - 320px) / (1225 - 320)));
      background-position: top center;

    }
  }

  &__title {
    font-weight: 300;
    text-transform: uppercase;
    max-width: 780px;
    margin-bottom: 30px;
    letter-spacing: 0.05em;

    @include text-gradient();

    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1225 - 320)));
    line-height: calc(46px + (80 - 46) * ((100vw - 320px) / (1225 - 320)));

    @include breakpointsMinW($bp-container) {
      font-size: 64px;
      line-height: 80px;
    }

    @include breakpointsMaxW($bp-576) {
      margin-bottom: 15px;
    }
  }

  &__descr {
    font-family: $LabGrotesque;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--color-accent);
    margin-bottom: 81px;

    @include breakpointsMaxW($bp-576) {
      margin-bottom: 25px;
    }

    span {
      font-size: 40px;
      font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__benefits {
    display: flex;
  }

  &__benefit {
    text-align: center;
    position: relative;
    padding-top: 44px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;

    &:not(:last-child) {
      margin-right: 80px;

      @include breakpointsMaxW($bp-991) {
        margin-right: 40px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--production {
      max-width: 91px;

      &::after {
        background-image: url('../images/icons/gear.svg');
      }
    }

    &--delivery {
      max-width: 130px;
      padding-top: 50px;
      letter-spacing: 0.01px;

      &::after {
        background-image: url('../images/icons/plane.svg');
      }
    }
  }
}