.menu {
  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }

    &:last-child {
      margin-right: 60px;
    }
  }

  &__link {
    text-transform: uppercase;
    transition: color 150ms ease;
    letter-spacing: 0.05em;

    &:hover {
      color: var(--color-accent);
    }
  }

  &__phone {
    width: 50px;
    height: 50px;
    background: var(--gradfient-accent);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}