.menu {
  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }

    &:last-child {
      margin-right: 60px;
    }
  }

  &__link {
    text-transform: uppercase;
    transition: color 150ms ease;
    letter-spacing: 0.05em;

    &:hover {
      color: var(--color-accent);
    }
  }

  &__phone {
    width: 50px;
    height: 50px;
    background: var(--gradfient-accent);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 100px;

    &:hover {
      svg {
        // animation: shake 500ms cubic-bezier(0.55, 0.8, 1, 0.555) alternate-reverse;
        transform: rotateY(180deg) scale(1.2);

      }
    }

    svg {
      width: 18px;
      height: 18px;
      transition: 1000ms ease;

      // transform-origin: top;

    }
  }
}