.menu {
  &__list {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include breakpointsMaxW($bp-991) {
      position: absolute;
      height: 100%;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.85);
      backdrop-filter: blur(5px);
      top: 0;
      left: -100%;
      transition: 450ms ease-in;

      flex-direction: column;
      padding: 20px;
      justify-content: center;
      z-index: 100;

      color: var(--color-white);

      &.active {
        left: 0;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include breakpointsMaxW($bp-991) {
        margin-right: 0;
        margin-bottom: 45px;
      }
    }

    &:last-child {
      margin-right: 60px;

      @include breakpointsMaxW($bp-991) {
        margin-right: 0;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    transition: color 150ms ease;
    letter-spacing: 0.05em;
    transition: 250ms ease;

    &:hover {
      color: var(--color-accent);
    }

    @include breakpointsMaxW($bp-991) {
      font-size: 20px;
      padding: 10px;

      &:hover {
        background-color: var(--color-accent);
        color: var(--color-black);
      }
    }
  }

  &__phone {
    width: 50px;
    height: 50px;
    background: var(--color-accent);
    border-radius: 3px;
    border: 2px solid transparent;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 250ms ease;

    &:active {
      transform: scale(0.98);
    }

    svg {
      width: 18px;
      height: 18px;
      transition: 450ms ease;
      transform: perspective(600px) rotateY(0deg);
    }

    &:hover {
      svg {
        transform: perspective(600px) rotateY(180deg);
        fill: var(--color-accent);
      }

      background: transparent;
      border-color: var(--color-accent);
    }

    @include breakpointsMaxW($bp-991) {
      margin-right: 20px;
      margin-left: auto;
    }
  }

  &__toggle {
    display: none;
    z-index: 100;

    @include breakpointsMaxW($bp-991) {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 150ms ease-in;

      .menu__line {
        width: 100%;
        height: 3px;
        background-color: var(--color-accent);
        position: relative;
        transition: 300ms ease-in;

        &::after,
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--color-accent);
          transition: 300ms ease-in;
        }

        &::after {
          top: -12px;
        }

        &::before {
          bottom: -12px;
        }
      }

      &:hover {
        transform: scale(1.05);
      }

      &.active {
        span {
          background-color: transparent;

          &::after {
            transform: translateX(-50%) rotate(45deg);
            top: 0px;
          }

          &::before {
            bottom: 0px;
            transform: translateX(-50%) rotate(-45deg);
          }
        }
      }
    }
  }
}