.production {
  padding-top: 10px;
  color: var(--color-white);
  background-image: linear-gradient(to bottom, #1e1e1d, #1d1d1c, #1d1d1c, #1c1c1b, #1c1c1b);
  margin-top: -2px;

  &__top,
  &__bottom {
    display: grid;
    grid-template-columns: minmax(auto, 570px) minmax(auto, 540px);

    gap: 85px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__top {
    margin-bottom: 27px;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01px;
    margin-bottom: 24px;

    &--p {
      margin-top: -44px;
    }
  }

  &__img {
    margin-bottom: 25px;
    position: relative;
    max-width: 570px;

    .production__line {
      position: absolute;
      content: '';
      top: -18px;
      left: 0;
      width: 80%;
      height: 1px;
      background-color: var(--color-accent);

      &::before {
        position: absolute;
        content: '';
        top: -5px;
        right: -17px;
        width: 1px;
        height: 58px;
        background-color: var(--color-accent);
        transform: rotate(-35deg);
      }
    }
  }

  &__box {
    &--fuel-block {
      padding-top: 40px;

      .production__text {
        margin-bottom: 5px;
      }

      .production__name-list {
        margin-bottom: 23px;
      }

      .production__lists {
        display: grid;
        grid-template-columns: minmax(auto, 190px) minmax(auto, 330px);
        gap: 50px;
      }
    }

    &--sizes {
      .production__title {
        margin-bottom: 28px;
      }
    }

    &--decisions {
      .production__text {}
    }

    &--accessories {
      .production__text {}
    }
  }

  &__shedule {
    margin-bottom: 78px;
  }

  &__name-list {
    display: block;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-unaccent);
    margin-bottom: 17px;
    letter-spacing: -0.1px;
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 50px;
  }

  &__item {
    font-size: 14px;
    line-height: 27px;

  }

  &__text {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: -0.005px;
    margin-bottom: 50px;

    &--line {
      padding-bottom: 25px;
    }
  }

  &__slider {
    margin-left: 0;
    height: calc(270px + (346 - 270) * ((100vw - 375px) / (1225 - 375)));

    @include breakpointsMinW($bp-container) {
      height: 346px;
    }
  }
}