.slider {
  max-width: 537px;
  width: 100%;
  background-color: #000;

  &__slide {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__arrows {
    position: absolute;
    bottom: 40px;
    left: 45px;

    width: 52px;
    height: 18px;
  }
}