.smart {
  margin-top: -2px;
  background-color: #1E1E1D;
  position: relative;
  padding-bottom: 123px;

  @include breakpointsMaxW($bp-container) {
    padding-bottom: calc(40px + (123 - 40) * ((100vw - 320px) / (1225 - 320)));
  }

  &__title {
    max-width: calc(400px + (790 - 400) * ((100vw - 320px) / (1225 - 320)));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
    position: relative;

    @include breakpointsMinW($bp-container) {
      max-width: 790px;
    }

    @include breakpointsMaxW($bp-576) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &::after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__descr {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    max-width: 510px;
    margin: 0 auto;
    letter-spacing: 0.01px;
    color: var(--color-white);
  }

  &__preview {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    position: relative;

    height: 430px;

    @include breakpointsMaxW($bp-container) {
      height: calc(200px + (430 - 200) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__text {
    cursor: pointer;
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    color: #464239;
    top: 57%;
    padding: 20px;

    &:hover {
      .smart__drop {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
    }

    @include breakpointsMaxW($bp-991) {
      top: 55%;
    }

    @include breakpointsMaxW($bp-768) {
      top: 53%;
    }

    @include breakpointsMaxW($bp-576) {
      top: 50.5%;
    }

    @include breakpointsMaxW($bp-420) {
      top: 48.5%;
    }

    &--yandex {
      left: 16%;

      @include breakpointsMaxW($bp-420) {
        left: 6.5%;
      }
    }

    &--xiaomi {
      right: 13.5%;

      @include breakpointsMaxW($bp-420) {
        right: 5.5%;
      }
    }
  }

  &__drop {
    display: block;
    position: absolute;
    padding: 10px;
    background-color: #1d1d1d;
    color: var(--color-white);
    width: 200px;
    text-align: center;
    border-radius: 10px;
    top: -150px;
    left: -30px;
    transition: 250ms ease;
    transform: translateY(30px);


    opacity: 0;
    visibility: hidden;
  }
}