.smart {
  margin-top: -2px;
  background-color: #1E1E1D;
  position: relative;
  padding-bottom: 123px;

  // &::after {
  //   position: absolute;
  //   content: '';
  //   background-image: url('../images/decor/smart-1.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   // background-attachment: fixed;
  //   max-width: 100%;
  //   width: 100%;
  //   height: 970px;
  //   top: 0;
  //   left: 0;

  //   opacity: 0;
  //   visibility: hidden;
  // }

  &__title {
    max-width: calc(400px + (790 - 400) * ((100vw - 320px) / (1225 - 320)));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
    position: relative;

    @include breakpointsMinW($bp-container) {
      max-width: 790px;
    }

    @include breakpointsMaxW($bp-576) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &::after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // p {
    //   &:not(:last-child) {
    //     margin-right: 128px;
    //   }
    // }
  }

  &__descr {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    max-width: 510px;
    margin: 0 auto;
    letter-spacing: 0.01px;
    color: var(--color-white);
  }

  &__preview {
    // height: calc(200px + (600 - 200) * ((100vw - 320px) / (1225 - 320)));
    background-image: url('../images/content/smart.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    position: relative;

    height: 430px;

    @include breakpointsMinW($bp-container) {
      // height: 430px;
    }
  }

  &__text {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    color: #464239;
    top: 61%;

    @include breakpointsMaxW($bp-991) {
      top: 57%;
    }

    @include breakpointsMaxW($bp-768) {
      top: 55%;
    }

    @include breakpointsMaxW($bp-576) {
      top: 52.5%;
    }

    @include breakpointsMaxW($bp-420) {
      top: 50.5%;
    }

    &--yandex {
      left: 16%;

      @include breakpointsMaxW($bp-420) {
        left: 6.5%;
      }

    }

    &--xiaomi {
      right: 13.5%;

      @include breakpointsMaxW($bp-420) {
        right: 5.5%;
      }
    }
  }
}