<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title">Настоящий высокий огонь у вас дома</h2>
    <div class="advantages__descr">
      <p>Благодаря специальной технологии горения биоэтанола
        мы добились горения потрясающей красоты</p>
    </div>
    <div class="advantages__img">
      <img src="images/content/advantages.png" alt="Преисущества">
    </div>
    <ul class="advantages__items">
      <li class="advantages__item advantages__item--flame">
        <p class="">
          Пламя яркое, высотой
          до 20 сантиметров
        </p>
      </li>
      <li class="advantages__item advantages__item--biofuel">
        <p class="">
          Работает такой камин
          на биотопливе          
        </p>
      </li>
      <li class="advantages__item advantages__item--smoke">
        <p class="">
          Он не дымит и не пахнет
        </p>
      </li>
    </ul>
  </div>
</section>