<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title" data-aos="fade-right">Настоящий высокий огонь у вас дома</h2>
    <div class="advantages__descr" data-aos="fade-right">
      <p>Благодаря специальной технологии горения биоэтанола
        мы добились горения потрясающей красоты</p>
    </div>
    <div class="advantages__preview" data-aos="fade-up"></div>
    <ul class="advantages__items">
      <li class="advantages__item advantages__item--flame" data-aos="fade-up" data-aos-delay="50">
        <p class="">
          Пламя яркое, высотой
          до 20 сантиметров
        </p>
      </li>
      <li class="advantages__item advantages__item--biofuel" data-aos="fade-up" data-aos-delay="150">
        <p class="">
          Работает такой камин
          на биотопливе          
        </p>
      </li>
      <li class="advantages__item advantages__item--smoke" data-aos="fade-up" data-aos-delay="250">
        <p class="">
          Он не дымит и не пахнет
        </p>
      </li>
    </ul>
  </div>
</section>