<section class="constructor">
  <div class="container">
    <h2 class="constructor__title section-title">вы автор вашего камина</h2>

    <div class="constructor__wrapper">
      <div class="constructor__top">
        <div class="constructor__preview">
          <img src="images/content/constructor.jpg" alt="">
        </div>
        <div class="constructor__details details-constructor">
          <div class="details-constructor length">
            <h4 class="details-constructor__title">Выберите длину</h4>

            <div class="details-constructor__box">
              <span class="details-constructor__text">0.5 м</span>
              <div class="details-constructor__range">
                <span class="details-constructor__bar">
                  <span class="fill" style="width: 65%"></span>
                </span>
                <input class="details-constructor__input input-range" step="0.5" min="0.5" max="10" value="6.5"
                  type="range">
              </div>
              <span class="details-constructor__text">10 м</span>
            </div>
          </div>
          <div class="details-constructor__face-panel face-panel">
            <h4 class="details-constructor__title">Лицевая панель</h4>

            <div class="face-panel__box swiper">
              <div class="face-panel__carousel swiper-wrapper">
                <div class="swiper-slide">
                  <div class="slide">
                    <img src="images/sliders/face-panel/1.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="slide">
                    <img src="images/sliders/face-panel/1.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="slide">
                    <img src="images/sliders/face-panel/1.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="slide">
                    <img src="images/sliders/face-panel/1.jpg" alt="">
                  </div>
                </div>

              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="details-constructor__functions functions">
            <h4 class="details-constructor__title">дополнительные функции</h4>

            <ul class="functions__list">
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span> Защита от детей
                </label>
              </li>
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox" checked>
                  <span class="check__box"></span>
                  Wi-Fi
                </label>
              </li>
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span> Защита от детей
                </label>
              </li>
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span> Wi-Fi
                </label>
              </li>

              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span> Защита от детей
                </label>
              </li>
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox" checked>
                  <span class="check__box"></span> Wi-Fi
                </label>
              </li>
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span> Защита от детей
                </label>
              </li>
              <li class="functions__item">
                <label class="check">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span> Wi-Fi
                </label>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="constructor__bottom">
        <div class="constructor__bottom-item">
          <span class="details-constructor__title">Длина</span>
          <p class="white length-output">6.5</p>
        </div>
        <div class="constructor__bottom-item">
          <span class="details-constructor__title">лицевая панель</span>
          <p class="circle"></p>
        </div>
        <div class="constructor__bottom-item">
          <span class="details-constructor__title">стоимость</span>
          <p class="yellow" id="total-price" data-target="0">0 <span>₽</span> </p>
        </div>
        
        <button class="btn btn--shadow-anim">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>