<footer class="footer" id="contacts">
  <div class="container">
    <h2 class="footer__title section-title" data-aos="fade-up">связаться с нами</h2>
    <div class="footer__wrapper">
      <div class="footer__lists" data-aos="fade-right" data-aos-delay="100">
        <ul class="footer__list">
          <li class="footer__item">
            <span class="footer__label">WhatsApp</span>
            <a href="tel:79113064144">+7911 306 4144</a>
          </li>
          <li class="footer__item">
            <span class="footer__label">Телеграмм</span>
            <a href="#">@elite_fire</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <span class="footer__label">Почта</span>
            <a href="mailto:@elite_fire">info@elite-fire.ru</a>
          </li>
          <li class="footer__item">
            <span class="footer__label">Наш адрес</span>
            <address>Россия, г. Москва,
              Варшавское шоссе, 170 г
            </address>
          </li>
        </ul>
      </div>
      <div class="footer__phone" data-aos="fade-left" data-aos-delay="100">
        <span class="footer__label">Телефон</span>
        <a href="tel:89113064144">8 911 306 4144</a>
        <button class="btn btn--border" type="button">Связаться с менеджером</button>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <a class="logo footer__logo" href="#">
          <img src="images/logo-mini.svg" alt="Логотип">
        </a>
        <div class="footer__text">
          2020-2021
        </div>
        <div class="footer__text">
          ООО “МЕТАЛЛЭЛЕКТРОИНВЕСТ”
        </div>
        <div class="footer__text">
          Пользовательское соглашение
        </div>
      </div>
    </div>
  </div>
</footer>