<header class="header">
  <div class="container">
    <nav class="header__menu menu">
      <a class="header__logo" href="#">
        <img src="images/logo.svg" alt="Лого">
      </a>

      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Продукция</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Конструктор</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Опыт</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
      </ul>

      <a class="menu__phone" aria-label="Позвоните нам" href="tel:999999999">
        <svg>
          <use xlink:href="images/sprite.svg#phone-link"></use>
        </svg>
      </a>
    </nav>

  </div>
</header>