<section class="hero">
  <div class="container">
    <div class="hero__wrapper" style=" background-image: url('../images/content/hero-bg.png');">
      <div class="hero__offer">
        <h1 class="hero__title">Автоматические
          биокамины
        </h1>
        <p class="hero__descr">от <span>99 000₽</span></p>
        <div class="hero__benefits">
          <div class="hero__benefit hero__benefit--production">
            <p> Свое производство</p>
          </div>
          <div class="hero__benefit hero__benefit--delivery">
            <p> Доставка в любую точку мира</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>