<div class="popup popup--back-call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть попап"></button>
    <h2 class="popup__title">Обратный звонок:</h2>
    <form class="form">
      <div class="form__group">
        <label class="form__label" for="name">Ваше имя:</label>
        <input class="form__input" type="text" id="name" name="name" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="tel-back-call">Ваш номер:</label>
        <input class="form__input" type="tel" id="tel-back-call" name="tel" required>
      </div>

      <button class="form__submit" type="submit">Отправить</button>
    </form>
  </div>
</div>
<div class="popup popup--request">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть попап"></button>
    <h2 class="popup__title">Оставить заявку:</h2>
    <form class="form">
      <div class="form__group">
        <label class="form__label" for="name">Ваше имя:</label>
        <input class="form__input" type="text" id="name" name="name" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="tel-back-call">Ваш номер:</label>
        <input class="form__input" type="tel" id="tel-back-call" name="tel" required>
      </div>
      <div class="form__group">
        <label class="form__label" for="message">Сообщение:</label>
        <textarea class="form__input form__input--textarea" name="message" id="message" required></textarea>
      </div>

      <button class="form__submit" type="submit">Отправить</button>
    </form>
  </div>
</div>