<section class="refueling">
  <div class="container">
    <div class="refueling__wrapper">
      <h2 class="refueling__title section-title" data-aos="fade-down">заправка</h2>
      <div class="refueling__text" data-aos="fade-right" data-aos-delay="100">
        <p>Внутри не просто труба. Спроектированный нами бак, самого большого обьема среди всех производителей
        </p>
        <p> В наши топливные блоки встроен
          мощный насос.</p>
      </div>
      <div class="refueling__feature feature" data-aos="fade-left" data-aos-delay="100">
        <div class="feature__bold" data-aos="zoom-in" data-aos-delay="200">
          <p>3,5 <span>минуты</span></p>
        </div>
        <div class="feature__normal" data-aos="zoom-in" data-aos-delay="200">
          <span>и бак наполнен
            на 100%</span>
        </div>
      </div>
      <div class="refueling__bottom" data-aos="fade-up" data-aos-delay="100">
        <div class="refueling__actions">
          <div class="refueling__action refueling__action--house"></div>
          <div class="refueling__action refueling__action--power-button"></div>
        </div>
        <p>Достаточно вставить шланг
          Нажать кнопку</p>
      </div>

      <div class="circle-blur" data-aos="zoom-in"></div>
      <div class="circle circle--small" data-aos="zoom-in" data-aos-delay="100"></div>
      <div class="circle circle--big" data-aos="zoom-in" data-aos-delay="100"></div>
    </div>
  </div>
</section>