<section class="smart">
  <div class="container">
    <div class="smart__wrapper">
      <h2 class="smart__title section-title">
        <span>Умный камин</span>
        <span>очень умный</span>
      </h2>
      <div class="smart__descr">
        <p>Даже если у Вас нет своего решения по умному дому. Мы отлично ладим с Яндекс.Алиса и Mi Home.</p>
      </div>
      <div class="smart__preview" style="background-image: url('../images/content/smart.jpg');">
        <div class="smart__text smart__text--yandex">
          Яндекс.Алиса
          <span class="smart__drop">Отлично смотрится с Яндекс.Алиса</span>
        </div>
        <div class="smart__text smart__text--xiaomi">Mi Home Xiaomi
          <span class="smart__drop">Отлично смотрится с Mi Home Xiaomi</span>
        </div>
      </div>
    </div>
  </div>
</section>